extends layout
block content
  h1 Book Copy: #{book_instance.book.title}
  if (genre_books.length === 0)
    p Do you really want to delete this Book Copy?
    form(action='' method='POST')
      button.btn.btn-primary(type='submit') Delete